body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 700;
}

img {
  height: 150px;
  width: 150px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.rotated {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

input {
  max-width: 200px;
  margin: 0 auto;
}
